.addButton{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(40, 96, 188);
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.addButton:hover{
    background-color: rgb(67, 113, 187);
}