.oneNote{
    position: relative;
    padding: 20px;
    background-color: #a6a6a6;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10px;
    width: min(200px, 40vw);
    max-height: 85vh;
    overflow: auto;
    cursor: pointer;
    color: black;
}

.oneNoteText{
    min-height: 10vh;
    overflow-wrap: anywhere;
    word-break: break-word;  
}

.noteTitleArea{
    width: 100%;
    background-color: #a6a6a6;
    font-weight: bold;
}

.noteTextArea{
    width: 100%;
    background-color: #a6a6a6;
    min-height: 4vh;
}

.buttonDelNote{
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(40, 96, 188);
    padding: 10px;
    cursor: pointer;
}

.buttonDelNote:hover{
    background-color: rgb(67, 113, 187);
}

.oneNoteTitle{
    font-weight: bold;
}

.noteImg{
    width: 100%;
    position: relative;
}

.buttonDelImg{
    position: absolute;
    top: -0.5vw;
    right: 2.5vw;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(40, 96, 188);
    padding: 2px;
    height: 2vw;
    width: 2vw;
    cursor: pointer;
}

.buttonDelImg:hover{
    background-color: rgb(67, 113, 187);
}