.teToolbar { display: flex; gap: 8px; margin-bottom: 8px; }
.teEditor {
    min-height: 2vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
.teEditor:empty::before {
    content: attr(data-placeholder);
    color: #888;
}

.teButton{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(40, 96, 188);
    padding: 2px;
    min-width: 20px;
}

.teButton:hover{
    background-color: rgb(67, 113, 187);
    cursor: pointer;
}