.AppClass{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AppName{
  position: fixed;
  font-size: 30px;
  color: black;
  top: 0px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #92ccff;
}